// ======================================================================================
// General
// ======================================================================================

.btn {
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0 !important;
    border: none !important;
    font-size: 0.875rem;

    &:not(.btn-link):not(.dropdown-toggle) {
        padding-left: 1.75rem !important;
        padding-right: 1.75rem !important;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &:disabled {
        pointer-events: none;
    }

    &:not(.btn-toggle) {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 4px;

        .fa { margin-right: 0.5rem; }
    }

    &:focus,
    &:hover,
    &:active {
        box-shadow: none;
    }

    &.btn-sm {
        font-size: 0.75rem;
        padding: 0.25rem 0.8rem 0.2rem 0.8rem !important;
    }

    .fa-caret-up,
    .fa-caret-down {
        margin-left: 0.5rem;
    }
}


// ======================================================================================
// Icon button
// Only icon that acts as a button
// ======================================================================================

.btn-icon {
    padding: 3px;
    background: none;
    outline: none;
    border: none;
    color: $color-gray-dark;
    line-height: 1;

    &:hover,
    &:focus,
    &:active {
        border: none;
        outline: none;
        box-shadow: none;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &:disabled {
        pointer-events: none;
    }
}

// ======================================================================================
// Collapse button
// ======================================================================================

.btn-collapse {
    transition: color 300ms cubic-bezier(0.0, 0, 0.2, 1) 30ms, transform 300ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;

    &.is-tilted {
        color: $brand-color-blue;
        transform: rotate(45deg);
    }
}

// ======================================================================================
// Variations
// ======================================================================================

.btn.btn-primary {
    background-color: $brand-color-blue;

    &:hover {
        background-color: $brand-color-gray-dark;
    }

    &:active,
    &:focus {
        box-shadow: none !important;
        background-color: $brand-color-gray-dark !important;
    }
}

.btn.btn-outline-secondary {
    background-color: #fff;
    border: 1px solid #ced0da !important;
    color: $brand-color-black;

    &:hover {
        background-color: #fff;
        color: $brand-color-black;
        border-color: $brand-color-black !important;
    }

    &:active {
        background-color: #fff !important;
        color: $brand-color-black !important;
        border-color: $brand-color-black !important;
        box-shadow: none !important;
    }
}

.btn-icon-primary {
    &:hover {
        color: $brand-color-blue;
    }

    &:active,
    &:focus {
        color: $brand-color-blue;
    }
}


// ======================================================================================
// Close
// ======================================================================================

.close {
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        border: none;
        outline: none;
        box-shadow: none;
    }
}
